.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(168, 42, 25));
}

.home h1 {
    align-self: center;
    text-shadow: 2px;
    color: antiquewhite;
}