.date{
  display:flex;
  flex-direction: row;
  border-bottom: 2px solid rgb(168, 158, 158);

}
.date label{
    color:rgb(235, 221, 221);
    font-weight: bold;
    font-size: larger;
    margin: 3px;
    padding-left: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.date img{

  height: 80vh;
  padding:0;
  border-bottom: 1px solid rgb(68, 61, 61);
}

.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-image: linear-gradient(to right, rgba(39, 38, 38, 0), rgba(68, 62, 155, 0.932));

}
