.layout{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: #7777;
}

.header a{
    background-color: rgb(179, 6, 40);
    padding: 5px 12px;
    border-radius: 5px;
}


.content{
 padding: 25px;
}